<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.regiondemo.mapper.RegionMapper">
    <insert id="insert">
        INSERT INTO sys_region (region_id, region_name, region_type, region_parent_id, region_level)
            VALUES (#{regionId}, #{regionName}, #{regionType}, #{regionParentId}, #{regionLevel})
    </insert>


    <select id="getRegion" resultType="com.example.regiondemo.domain.Region">
        select region_id, region_name, region_type, region_parent_id, region_level from sys_region
        <where>
            1=1
            <if test='pCode != null and pCode != ""' >
                and region_parent_id = #{pCode}
            </if>
            <if test='type != null and type != ""' >
                and region_type = #{type}
            </if>
        </where>
    </select>
</mapper>